.fmdq_Grey{
    background-color: #969698;
    color: white;
}


.fmdq_Gold{
    background-color: #CC9933;
    color: white;
}



.fmdq_Blue{
    background-color: #23346A;
    color: white;
}


.fmdq_Red{
    background-color: #ff0000;
    color: white;
}



.fmdq_Green{
    background-color:  #538135;
    color: white;
}


.fmdq_Purple{
    background-color:  #7030a0;
    color: white;
}